* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#0088b2, #6d0427 80%);
}

/*Charmander*/
.card {
    position: relative;
    width: 320px;
    height: 450px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.25);
    margin-left: 50px;
    margin-right: 50px;
}

.card .poster {
    position: relative;
    overflow: hidden;
}

.card .poster::before {
    content: '';
    position: absolute;
    bottom: -220px;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #da0000 50%, transparent);
    transition: 0.5s;
    z-index: 1;
}

.card:hover .poster::before .card::before {
    bottom: 0px;
}

.card .poster img {
    width: 100%;
    transition: 0.5s;
}

.card:hover .poster img {
    transform: translateY(-50px);
    filter: blur(5px);
}

.card .details {
    position: absolute;
    bottom: -220px;
    left: 0;
    padding: 20px;
    width: 100%;
    z-index: 2;
    transition: 0.5s;
}

.card:hover .details {
    bottom: 0px;
}

.card .details .logo {
    max-width: 200px;
}

.card .details h3 {
    font-size: 15px;
    margin-top: 5px;
    color: #fff;
}

.card .details .abilities {
    position: relative;
    padding: 5px 0;
    margin-bottom: 10px;
}

.card .details .abilities .a {
    color: #ffffff;
    font-size: 20px;
}

.card .details .abilities span {
    color: #fff;
    margin-left: 10px;
}

.card .details .tags {
    position: relative;
    margin-top: 5px;
}

.card .details .tags span {
    padding: 4px 8px;
    color: #fff;
    background: #000000;
    border-radius: 4px;
}

.card .details .tags span:nth-child(2) {
    background: #df0000;
}

.card .details .info {
    color: #fff;
    margin-top: 20px;
}

.card .details .moves {
    position: relative;
}

.card .details .moves h4 {
    color:  #fff;
    text-decoration: underline;
    margin-top: 10px;
    margin-bottom: 20px;
}

.card .details .moves ul {
    position: relative;
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.card .details .moves ul li {
    list-style: none;
    width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #fff;
    margin-left: 10px;
    transition: 0.5s;
}

.card .details .moves ul li img {
    max-width: 105%;
}

.card .details .moves ul li:hover {
    width: 80px;
    height: 80px;
}
/*Bulbasaur*/
.cardbulbasaur {
    position: relative;
    width: 320px;
    height: 450px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.25);
    margin-left: 50px;
    margin-right: 50px;
}

.cardbulbasaur .posterbulbasaur {
    position: relative;
    overflow: hidden;
}

.cardbulbasaur .posterbulbasaur::before {
    content: '';
    position: absolute;
    bottom: -220px;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #1cee00 50%, transparent);
    transition: 0.5s;
    z-index: 1;
}

.cardbulbasaur:hover .posterbulbasaur::before .cardbulbasaur::before {
    bottom: 0px;
}

.cardbulbasaur .posterbulbasaur img {
    width: 100%;
    transition: 0.5s;
}

.cardbulbasaur:hover .posterbulbasaur img {
    transform: translateY(-50px);
    filter: blur(5px);
}

.cardbulbasaur .detailsbulbasaur {
    position: absolute;
    bottom: -200px;
    left: 0;
    padding: 20px;
    width: 100%;
    z-index: 2;
    transition: 0.5s;
}

.cardbulbasaur:hover .detailsbulbasaur {
    bottom: 0px;
}

.cardbulbasaur .detailsbulbasaur .logobulbasaur {
    max-width: 200px;
}

.cardbulbasaur .detailsbulbasaur h3 {
    font-size: 15px;
    margin-top: 5px;
    color: #fff;
}

.cardbulbasaur .detailsbulbasaur .abilitiesbulbasaur {
    position: relative;
    padding: 5px 0;
    margin-bottom: 10px;
}

.cardbulbasaur .detailsbulbasaur .abilitiesbulbasaur .abulbasaur {
    color: #ffffff;
    font-size: 20px;
}

.cardbulbasaur .detailsbulbasaur .abilitiesbulbasaur span {
    color: #fff;
    margin-left: 10px;
}

.cardbulbasaur .detailsbulbasaur .tagsbulbasaur {
    position: relative;
    margin-top: 5px;
}

.cardbulbasaur .detailsbulbasaur .tagsbulbasaur span {
    padding: 4px 8px;
    color: #fff;
    background: #000000;
    border-radius: 4px;
}

.cardbulbasaur .detailsbulbasaur .tagsbulbasaur span:nth-child(2) {
    background: #20be00;
}

.cardbulbasaur .detailsbulbasaur .tagsbulbasaur span:nth-child(3) {
    background: #7300df;
}

.cardbulbasaur .detailsbulbasaur .infobulbasaur {
    color: #fff;
    margin-top: 20px;
}

.cardbulbasaur .detailsbulbasaur .movesbulbasaur {
    position: relative;
}

.cardbulbasaur .detailsbulbasaur .movesbulbasaur h4 {
    color:  #fff;
    text-decoration: underline;
    margin-top: 10px;
    margin-bottom: 20px;
}

.cardbulbasaur .detailsbulbasaur .movesbulbasaur ul {
    position: relative;
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.cardbulbasaur .detailsbulbasaur .movesbulbasaur ul li {
    list-style: none;
    width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #fff;
    margin-left: 10px;
    transition: 0.5s;
}

.cardbulbasaur .detailsbulbasaur .movesbulbasaur ul li img {
    max-width: 105%;
}

.cardbulbasaur .detailsbulbasaur .movesbulbasaur ul li:hover {
    width: 80px;
    height: 80px;
}
/*Squirtle*/
.cardSquirtle {
    position: relative;
    width: 320px;
    height: 450px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.25);
    margin-left: 50px;
    margin-right: 50px;
}

.cardSquirtle .posterSquirtle {
    position: relative;
    overflow: hidden;
}

.cardSquirtle .posterSquirtle::before {
    content: '';
    position: absolute;
    bottom: -220px;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #0091d4 50%, transparent);
    transition: 0.5s;
    z-index: 1;
}

.cardSquirtle:hover .posterSquirtle::before .cardSquirtle::before {
    bottom: 0px;
}

.cardSquirtle .posterSquirtle img {
    width: 100%;
    transition: 0.5s;
}

.cardSquirtle:hover .posterSquirtle img {
    transform: translateY(-50px);
    filter: blur(5px);
}

.cardSquirtle .detailsSquirtle {
    position: absolute;
    bottom: -220px;
    left: 0;
    padding: 20px;
    width: 100%;
    z-index: 2;
    transition: 0.5s;
}

.cardSquirtle:hover .detailsSquirtle {
    bottom: 0px;
}

.cardSquirtle .detailsSquirtle .logoSquirtle {
    max-width: 200px;
}

.cardSquirtle .detailsSquirtle h3 {
    font-size: 15px;
    margin-top: 5px;
    color: #fff;
}

.cardSquirtle .detailsSquirtle .abilitiesSquirtle {
    position: relative;
    padding: 5px 0;
    margin-bottom: 10px;
}

.cardSquirtle .detailsSquirtle .abilitiesSquirtle .aSquirtle {
    color: #ffffff;
    font-size: 20px;
}

.cardSquirtle .detailsSquirtle .abilitiesSquirtle span {
    color: #fff;
    margin-left: 10px;
}

.cardSquirtle .detailsSquirtle .tagsSquirtle {
    position: relative;
    margin-top: 5px;
}

.cardSquirtle .detailsSquirtle .tagsSquirtle span {
    padding: 4px 8px;
    color: #fff;
    background: #000000;
    border-radius: 4px;
}

.cardSquirtle .detailsSquirtle .tagsSquirtle span:nth-child(2) {
    background: #31beff;
}

.cardSquirtle .detailsSquirtle .infoSquirtle {
    color: #fff;
    margin-top: 20px;
}

.cardSquirtle .detailsSquirtle .movesSquirtle {
    position: relative;
}

.cardSquirtle .detailsSquirtle .movesSquirtle h4 {
    color:  #fff;
    text-decoration: underline;
    margin-top: 10px;
    margin-bottom: 20px;
}

.cardSquirtle .detailsSquirtle .movesSquirtle ul {
    position: relative;
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.cardSquirtle .detailsSquirtle .movesSquirtle ul li {
    list-style: none;
    width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #fff;
    margin-left: 10px;
    transition: 0.5s;
}

.cardSquirtle .detailsSquirtle .movesSquirtle ul li img {
    max-width: 102%;
}

.cardSquirtle .detailsSquirtle .movesSquirtle ul li:hover {
    width: 80px;
    height: 80px;
}

@media (min-width: 1400px) {
body {
    max-height: 2000px;
}
.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 150px;
    grid-row-gap: 100px;
    }
    
    .div1 { grid-area: 2 / 1 / 3 / 2; }
    .div2 { grid-area: 2 / 2 / 3 / 3; }
    .div3 { grid-area: 2 / 3 / 3 / 4; }
}

@media (max-width: 900px) {
        .parent {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-column-gap: 50px;
            grid-row-gap: 0px;
            }
            
            .div1 { 
                margin: 50px;
                grid-area: 1 / 3 / 2 / 4; 
            }
            .div2 { 
                margin: 50px;
                grid-area: 2 / 3 / 3 / 4; 
            }
            .div3 {
                margin: 50px;
                grid-area: 3 / 3 / 4 / 4; 
            }
}

@media only screen and (max-width: 490px) {
    .parent {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 150px;
        grid-row-gap: 0px;
        }
        
        .div1 { grid-area: 1 / 2 / 2 / 3; }
        .div2 { grid-area: 2 / 2 / 3 / 3; }
        .div3 { grid-area: 3 / 2 / 4 / 3; }
        .div4 { grid-area: 1 / 1 / 2 / 2; }
        .div5 { grid-area: 2 / 1 / 3 / 2; }
        .div6 { grid-area: 3 / 1 / 4 / 2; }
}
